[Desktop Entry]
Name=Pico
Comment=Pico text editor
Comment[bg]=Pico текстов редактор
Comment[ca]=L'editor de text Pico
Comment[cs]=Textový editor Pico
Comment[da]=Pico tekstbehandleren
Comment[de]=Der Texteditor Pico
Comment[el]=Επεξεργαστής κειμένου Pico
Comment[es]=Editor de textos Pico
Comment[et]=Tekstiredaktor Pico
Comment[eu]=Pico testu editorea
Comment[fi]=Pico-editori
Comment[fr]=Editeur de texte Pico
Comment[ga]=Eagarthóir Teacs Pico
Comment[gl]=Editor de texto Pico
Comment[hu]=Pico szövegszerkesztő
Comment[it]=Editor di testo Pico
Comment[ja]=Picoテキストエディタ
Comment[ko]=이맥스 문서 편집기
Comment[nb]=Teksteditoren Pico
Comment[nl]=Pico tekst editor
Comment[pl]=Edytor tekstu Pico
Comment[pt]=Editor de texto Pico
Comment[pt_BR]=Editor de texto Pico
Comment[ru]=Текстовый редактор Pico
Comment[sv]=Pico texteditor
Comment[tr]=Pico metin editörü
Comment[uk]=Текстовий редактор
Comment[wa]=L' aspougneu di tekse Pico
Comment[zh_CN]=Pico 文字编缉器
Comment[zh_TW]=Pico 文字編緝器
Icon=
Exec=pico
Terminal=true
Type=Application
Categories=ConsoleOnly;TextEditor;
# vi: encoding=utf-8
