[Desktop Entry]
Name=AlPine
Comment=The AlPine Mail Reader
Comment[br]=ALPINE n'eo ket ELM
Comment[ca]=ALPINE no és ELM
Comment[cs]=Poštovní program AlPine
Comment[da]=ALPINE er ikke ELM
Comment[de]=ALPINE Mailprogramm
Comment[es]=Cliente de correo (ALPINE no es ELM)
Comment[fi]=PINE -postiohjelma
Comment[fr]=Client de messagerie "alPine Is Not Elm" (AlPine n'est pas Elm)
Comment[hr]=Program za elektronsku poštu
Comment[hu]=ALPINE szöveges levelező program
Comment[is]=alpine:  Póstforritið AlPine
Comment[it]=ALPINE non e' ELM (programma posta)
Comment[nb]=ALPINE-epostprogram
Comment[pl]=Program pocztowy ALPINE
Comment[pt]=Cliente de email
Comment[pt_BR]=Cliente de email
Comment[ro]=Client de poştă
Comment[ru]=Почтовый клиент AlPine (alPine is not ELM, Pine это не ELM)
Comment[sk]=Poštový program AlPine (alPine is not ELM)
Comment[sl]=Program za branje e-pošte AlPine
Comment[sv]=ALPINE mejlprogram
Icon=alpine
Exec=alpine
Terminal=true
Type=Application
Categories=ConsoleOnly;Network;Email;
# vi: encoding=utf-8
